table thead tr:nth-child(odd){
    background-color: rgb(118, 236, 118);
}
/*table tbody :nth-child(even){*/
/*    background-color: red;*/
/*}*/
table tbody tr:nth-child(even){
    background-color: rgb(233, 125, 215);
}
table tbody tr:nth-child(odd){
    background-color: aqua;
}
table tbody tr:nth-last-child(1){
    background-color: rgb(233, 233, 116);
}